{% extends "base_account.html" %}

{% block title %}Helpdesk T.I PGE - Trocar Senha{% endblock %}

{% load static %}

{% block content %}
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-6 col-xxl-3 auth-card">
                    <div class="card mb-0">
                        <div class="card-body">
                            <!-- Logo -->
                            <a href="#" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                <b class="logo-icon me-2">
                                    <img src="{% static 'PGE COLORIDO.svg' %}" alt="homepage" class="dark-logo" width="150" />
                                </b>
                            </a>
                            <p class="text-center font-14">Helpdesk T.I - Trocar Senha</p>

                            {% if validlink %}
                                <p class="text-center text-muted">
                                    Digite sua nova senha abaixo.
                                </p>

                                <form action="." method="POST">
                                    {% csrf_token %}

                                    {% for field in form.visible_fields %}
                                <div class="mb-4">
                                    <label class="form-label text-muted">{{ field.label }}</label>
                                    <div class="input-group mb-2">
                                        <input type="password" class="form-control" name="{{ field.name }}" id="{{ field.id_for_label }}" placeholder="Digite sua senha">
                                        <span class="input-group-text">
                                            <i class="fa fa-eye" onclick="togglePasswordReset('{{ field.id_for_label }}')" id="{{ field.id_for_label }}-icon" style="cursor: pointer;"></i>
                                        </span>
                                    </div>
                                    {% if field.help_text %}
                                        <small class="text-muted d-block">{{ field.help_text }}</small>
                                    {% endif %}
                                </div>
                                {% endfor %}

                                    <div class="d-flex row justify-content-center gap-3 mt-4 mb-3">
                                        <button type="submit" class="btn btn-primary w-100 py-8 font-14">
                                            Trocar senha
                                        </button>
                                    </div>
                                </form>
                            {% else %}
                                <p class="text-center text-danger">
                                    O link para a recuperação de senha é inválido ou já foi utilizado.
                                    <br>
                                    Por favor, solicite uma nova recuperação de senha.
                                </p>
                                <div class="d-flex justify-content-center">
                                    <a href="{% url 'password_reset' %}" class="text-info font-14">
                                        Resetar senha
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        input[type="password"] {
            border-radius: 2px;
            border: 1px solid #ccc;
            padding: 5px;
            width: 100%;
        }
    </style>
{% endblock %}
