{% extends "base_account.html" %}

{% block title %}Helpdesk T.I PGE - Resetar senha{% endblock %}

{% load static %}

{% block content %}
<div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
  <div class="d-flex align-items-center justify-content-center w-300">
    <div class="row justify-content-center w-300">
      <div class="col-md-8 col-lg-6 col-xxl-3 auth-card">
        <div class="card mb-0">
          <div class="card-body">
              <a href="{% url 'login_view' %}" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <b class="logo-icon me-2">
                    <img src="{% static 'PGE COLORIDO.svg' %}" alt="homepage" class="dark-logo" width="150" />
                  </b>
                </a>
            <!-- Card -->
              <div class="p-6 sm:p-8 lg:p-16 space-y-8">
                <h2 class="text-2xl lg:text-3xl font-bold text-gray-900">
                  Redefinição de senha enviada
                </h2>
                <p class="text-sm font-medium text-gray-500">
                  Nós te enviamos um e-mail com instruções para configurar sua senha, se uma conta existe com o e-mail fornecido. Você receberá a mensagem em breve.
                </p>
                <p class="text-sm font-medium text-gray-500">
                  Se você não recebeu um e-mail, por favor certifique-se que você forneceu o endereço que você está cadastrado, e verifique sua pasta de spam.
                </p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}