<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  {% load static %}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{% block title %}Helpdesk T.I PGE{% endblock %}</title>

  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.png' %}" />
  <link href="{% static 'css/chartist.min.css' %}" rel="stylesheet" />
  <link href="{% static 'css/chartist-plugin-tooltip.css' %}" rel="stylesheet" />
  <link href="{% static 'css/style.min.css' %}" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  {% block extra_css %}{% endblock %}
</head>

<body>
  <div class="main-wrapper">
    {% block content %}{% endblock %}
  </div>
  <script>
    function togglePassword() {
      const passwordInput = document.getElementById('password');
      const passwordIcon = document.getElementById('password-icon');
      const isPasswordVisible = passwordInput.type === 'text';
  
      passwordInput.type = isPasswordVisible ? 'password' : 'text';
      passwordIcon.classList.toggle('fa-eye');
      passwordIcon.classList.toggle('fa-eye-slash');
    }

      function togglePasswordReset(fieldId) {
          var passwordField = document.getElementById(fieldId);
          var icon = document.getElementById(fieldId + "-icon");
  
          if (passwordField.type === "password") {
              passwordField.type = "text";
              icon.classList.remove("fa-eye");
              icon.classList.add("fa-eye-slash");
          } else {
              passwordField.type = "password";
              icon.classList.remove("fa-eye-slash");
              icon.classList.add("fa-eye");
          }
      }
  
  </script>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/app-style-switcher.js' %}"></script>
  <script src="{% static 'js/waves.js' %}"></script>
  <script src="{% static 'js/sidebarmenu.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
  <script src="{% static 'js/chartist.min.js' %}"></script>
  <script src="{% static 'js/chartist-plugin-tooltip.min.js' %}"></script>
  <script src="{% static 'js/dashboard1.js' %}"></script>
  {% block extra_js %}{% endblock %}
</body>

</html>
