<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  {% load static %}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{% block title %}Helpdesk T.I PGE{% endblock %}</title>

  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.png' %}" />
  <link href="{% static 'css/chartist.min.css' %}" rel="stylesheet" />
  <link href="{% static 'css/chartist-plugin-tooltip.css' %}" rel="stylesheet" />
  <link href="{% static 'css/style.min.css' %}" rel="stylesheet" />
  <!-- Chartist CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chartist/dist/chartist.min.css">

  <!-- Chartist JS -->
  <script src="https://cdn.jsdelivr.net/npm/chartist/dist/chartist.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


  {% block extra_css %}{% endblock %}
</head>

<body>
  <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
    data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">

    <!-- Topbar Header -->
    <header class="topbar" data-navbarbg="skin6">
      <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <div class="navbar-header" data-logobg="skin6">
          <a class="navbar-brand" href="{% url 'index' %}">
            <b class="logo-icon">
              <img src="{% static 'PGE COLORIDO.svg' %}" alt="homepage" class="dark-logo" width="100" />
            </b>
            <span class="logo-text">
              Helpdesk
            </span>
          </a>
          <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
            <i class="mdi mdi-menu"></i>
          </a>
        </div>
        <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
          <ul class="navbar-nav float-start me-auto">
            <li class="nav-item search-box">
              <a class="nav-link waves-effect waves-dark" href="javascript:void(0)">
                <i class="mdi mdi-magnify me-1"></i> <span class="font-16">Search</span>
              </a>
              <form class="app-search position-absolute">
                <input type="text" class="form-control" placeholder="Search &amp; enter" />
                <a class="srh-btn"><i class="mdi mdi-window-close"></i></a>
              </form>
            </li>
                <!-- Notification Sino -->
                <div class="dropdown me-2 mt-2">
                  <a id="notification-icon" class="nav-link" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="mdi mdi-bell-outline" style="position: relative; font-size: 24px;"></i>
                    <span id="notification-count" class="badge bg-danger" style="font-size: 10px; position: absolute; top: 6px; left: 25px; display: none; padding: 5px;">1</span>
                  </a>
                  <ul id="notificationList" class="dropdown-menu dropdown-menu-end p-3" style="max-height: 300px; overflow-y: auto;">
                    <li class="dropdown-item text-center">Nenhuma notificação</li>
                  </ul>
                </div>
          </ul>
          <ul class="navbar-nav float-end">
            <li class="nav-item dropdown">
              <div class="input-group align-items-center text-center">
                <h5 class="me-3 mt-3">{{user.profile.nome}}</h5>
                <a class="me-4 nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="#" id="navbarDropdown"
                  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="{% static 'profile.jpg' %}" alt="user" class="rounded-circle" width="31" />
                </a>
                <ul class="dropdown-menu dropdown-menu-end user-dd animated" aria-labelledby="navbarDropdown">
                  {% comment %} <a class="dropdown-item" >
                    <i class="mdi mdi-account m-r-5 m-l-5"></i> My Profile
                  </a> {% endcomment %}
                  <a class="dropdown-item" href="{% url 'logout' %}">
                    <i class="mdi mdi-logout m-r-5 m-l-5"></i> Sair
                  </a>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- Sidebar -->
    <aside class="left-sidebar" data-sidebarbg="skin6">
      <div class="scroll-sidebar">
        <nav class="sidebar-nav">
          <ul id="sidebarnav">
            <li class="sidebar-item">
              <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'index' %}" aria-expanded="false">
                <i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Chamados Abertos</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'chamados_concluidos' %}" aria-expanded="false">
                <i class="mdi mdi-checkbox-marked-outline"></i><span class="hide-menu">Chamados Concluídos</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'abrir_chamado' %}" aria-expanded="false">
                <i class="mdi mdi-account-plus"></i><span class="hide-menu">Abrir Chamado</span>
              </a>
            </li>
            {% comment %} <li class="sidebar-item mt-auto">
              {% if request.user.profile.equipe_ti %}
                <button id="btn_send_message" class="btn btn-info">Enviar Alerta S/ Internet</button>
              {% endif %}
            </li> {% endcomment %}
            {% if request.user.profile.equipe_ti %}
              <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'dashboard' %}" aria-expanded="false">
                  <i class="mdi mdi-chart-bar"></i><span class="hide-menu">Dashboard</span>
                </a>
              </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </aside>

    <!-- Page Content -->
    <div class="page-wrapper">
      <div class="container-fluid">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/app-style-switcher.js' %}"></script>
  <script src="{% static 'js/waves.js' %}"></script>
  <script src="{% static 'js/sidebarmenu.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
  <script src="{% static 'js/chartist.min.js' %}"></script>
  <script src="{% static 'js/chartist-plugin-tooltip.min.js' %}"></script>
  {% block extra_js %}{% endblock %}

  <script>
    // WebSocket para notificações
    const notificationSocket = new WebSocket('ws://' + window.location.host + '/ws/chamados/');
  
    // Função para restaurar notificações armazenadas
    function restoreNotifications() {
      const storedNotifications = JSON.parse(sessionStorage.getItem('notifications')) || [];
      const notificationList = document.getElementById('notificationList');
  
      // Limpa a lista para evitar duplicações
      notificationList.innerHTML = '';
  
      if (storedNotifications.length > 0) {
        storedNotifications.forEach((message, index) => {
          const newNotification = document.createElement('li');
          newNotification.classList.add('dropdown-item', 'notification-item');
          newNotification.style.cursor = 'pointer';
          newNotification.textContent = message;
          newNotification.dataset.index = index; // Salva o índice para fácil manipulação
  
          // Adiciona o evento de clique para remover a notificação
          newNotification.onclick = function () {
            removeNotification(index);
          };
  
          notificationList.appendChild(newNotification);
        });
      } else {
        // Se não houver notificações, exibe o texto padrão
        const noNotifications = document.createElement('li');
        noNotifications.classList.add('dropdown-item', 'text-center');
        noNotifications.textContent = 'Nenhuma notificação';
        notificationList.appendChild(noNotifications);
      }
  
      // Atualiza o contador de notificações
      updateNotificationCount(storedNotifications.length);
    }
  
    // Função para remover uma notificação
    function removeNotification(index) {
      const storedNotifications = JSON.parse(sessionStorage.getItem('notifications')) || [];
  
      // Remove a notificação pelo índice
      storedNotifications.splice(index, 1);
      sessionStorage.setItem('notifications', JSON.stringify(storedNotifications));
  
      // Recarrega a página para refletir as alterações
      location.reload();
    }
  
    // Função para atualizar o contador de notificações
    function updateNotificationCount(count) {
      const notificationCount = document.getElementById('notification-count');
      if (count > 0) {
        notificationCount.style.display = 'inline';
        notificationCount.textContent = count;
      } else {
        notificationCount.style.display = 'none';
      }
    }
  
    // Restaura notificações quando a página é carregada
    window.onload = restoreNotifications;
  
    // Escuta as mensagens do WebSocket para notificações
    notificationSocket.onmessage = function (event) {
      const data = JSON.parse(event.data);
      const message = data.message;
  
      if (message.includes('Status alterado')) { // Ajuste conforme o tipo de mensagem que seu sistema envia
        // Recarrega a página para atualizar o status dos chamados
        location.reload();
      }
  
      // Salva a notificação no sessionStorage
      const storedNotifications = JSON.parse(sessionStorage.getItem('notifications')) || [];
      storedNotifications.push(message);
      sessionStorage.setItem('notifications', JSON.stringify(storedNotifications));
  
      // Recarrega a página para atualizar a lista
      location.reload();
    };
  
    notificationSocket.onclose = function (event) {
      console.error('WebSocket fechado inesperadamente.');
    };
  </script>
  
  {% comment %} <script>
    // WebSocket para envio de mensagens
    const alertSocket = new WebSocket('ws://' + window.location.host + '/ws/notifications/');
  
    const btnSendMessage = document.getElementById('btn_send_message');
  
    if (btnSendMessage) {
      btnSendMessage.addEventListener('click', () => {
        const message = 'Informamos que, devido a falha de internet no estado estamos sem internet, agradecemos a compreensão.';
        alertSocket.send(JSON.stringify({ message: message }));
      });
    }
  
    // Escuta as mensagens do WebSocket para alertas
    alertSocket.onmessage = function(e) {
      const data = JSON.parse(e.data);
      if (data.message) {
        // Exibe a mensagem em um modal
        const modal = new bootstrap.Modal(document.getElementById('modalMessage')); // Cria o modal com a instância do Bootstrap
        modal.show();  // Exibe o modal com o efeito fade
        modal._element.querySelector('.modal-body').innerText = data.message; // Adiciona a mensagem ao corpo do modal
      }
    };
  
    function closeModal() {
        const modal = new bootstrap.Modal(document.getElementById('modalMessage'));
        modal.hide();  // Fecha o modal
      // Marque como visualizada para o usuário, salvando no sessionStorage
      sessionStorage.setItem('message_viewed', 'true');
    }
  
    window.onload = function() {
      if (sessionStorage.getItem('message_viewed') === 'true') {
        document.getElementById('modalMessage').style.display = 'none';
      }
    };
  </script>   {% endcomment %}
  
</body>

</html>
