{% extends "base_account.html" %}

{% block title %}Helpdesk T.I PGE - Cadastro{% endblock %}

{% load static %}

{% block content %}
    <!-- ============================================================== -->
    <!-- Login Box -->
    <!-- ============================================================== -->
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3 auth-card">
            <div class="card mb-0">
              <div class="card-body">
                <!-- Logo Section -->
                <a href="#" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <b class="logo-icon me-2">
                    <img src="{% static 'PGE COLORIDO.svg' %}" alt="homepage" class="dark-logo" width="150" />
                  </b>
                </a>
                <p class="text-center font-14">Helpdesk T.I - Login</p>

                <!-- Login Form -->
                <form action="{% url 'login_view' %}" method="post">
                  {% csrf_token %}

                  {% if messages %}
                  {% for message in messages %}
                    {% if message.tags == 'error' %}
                      <section class="alert alert-danger alert-{{message.tags}}">
                        {{ message }}
                      </section>
                    {% elif message.tags == 'success' %}
                      <section class="alert alert-success">
                        {{ message }}
                      </section>
                    {%endif%}
                  {% endfor %}
                {% endif %}

                  <div class="mb-3">
                    <label for="username" class="form-label">Username/Email</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Digite seu username ou Email" required>
                  </div>
                  <div class="mb-4">
                    <label for="password" class="form-label">Senha</label>
                    <div class="input-group">
                      <input 
                      type="password" 
                      class="form-control" 
                      id="password" 
                      name="password" 
                      placeholder="Digite sua senha" 
                      required>
                      <span class="input-group-text">
                        <i class="fa fa-eye" onclick="togglePassword()" id="password-icon" style="cursor: pointer;"></i>
                      </span>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between mb-4 mt-4">
                    <div class="form-check mb-0">
                      <input class="form-check-input info" type="checkbox" id="remember" name="remember">
                      <label class="form-check-label text-dark mb-0" for="remember">
                        Lembrar-me
                      </label>
                    </div>
                    <a class="text-info font-14" href="#">Esqueceu sua senha?</a>
                  </div>
                  <button type="submit" class="btn btn-primary w-100 py-8 mb-4 font-14">Entrar</button>
                  <div class="d-flex align-items-center justify-content-center">
                    <p class="mb-0">Não tem uma conta?</p>
                    <a class="text-info ms-2 font-14" href="{% url 'register' %}">Cadastrar</a>
                  </div>
                  <div class="d-flex align-items-center justify-content-center">
                    <p class="mb-0">Login de</p>
                    <a class="text-info ms-2 font-14" href="{% url 'admin:index' %}">admin</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- Login Box End -->
    <!-- ============================================================== -->
  </div>
{% endblock %}
