{% extends "base_account.html" %}

{% block title %}Helpdesk T.I PGE - Cadastro{% endblock %}

{% load static %}

{% block content %}
<div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
  <div class="d-flex align-items-center justify-content-center w-100">
    <div class="row justify-content-center w-100">
      <div class="col-md-8 col-lg-6 col-xxl-3 auth-card">
        <div class="card mb-0">
          <div class="card-body">
            <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
              <b class="logo-icon me-2">
                <img src="{% static 'PGE COLORIDO.svg' %}" alt="homepage" class="dark-logo" width="150" />
              </b>
            </a>
            <p class="text-center font-14">Helpdesk T.I - Cadastro</p>
            <form method="post" action="{% url 'registration' %}">
              {% csrf_token %}
              {% if messages %}
                {% for message in messages %}
                    <section class="alert alert-danger {{message.tags}}">
                        {{message}}
                    </section>
                {% endfor %}
              {% endif %}
              <div class="mb-3">
                <label for="nome" class="form-label">Nome completo</label>
                <input type="text" class="form-control" id="" name="nome" placeholder="Digite seu nome completo" required>
              </div>
              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Digite seu username" required>
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu email" required>
              </div>
              <div class="mb-4">
                <label for="password" class="form-label">Senha</label>
                <div class="input-group">
                  <input 
                  type="password" 
                  class="form-control" 
                  id="password" 
                  name="password" 
                  placeholder="Digite sua senha" 
                  required>
                  <span class="input-group-text">
                    <i class="fa fa-eye" onclick="togglePassword()" id="password-icon" style="cursor: pointer;"></i>
                  </span>
                </div>
              </div>             
              <div class="mb-4">
                <label for="password" class="form-label">Confirmar senha</label>
                <div class="input-group">
                  <input 
                    type="password" 
                    class="form-control" 
                    id="password" 
                    name="confirmar_senha" 
                    placeholder="Digite sua senha novamente" 
                    required>
                </div>
              </div>  
              <button type="submit" class="btn btn-info w-100 py-8 mb-4">Cadastrar</button>
              <div class="d-flex align-items-center justify-content-center">
                <p class="mb-0">Já tem uma conta?</p>
                <a class="text-info ms-2 font-14" href="{% url 'loginpage' %}">Login</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
